RewriteEngine On

# Si fichier ou dossier existe → ne pas rediriger
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout le reste → index.php
RewriteRule ^ index.php [QSA,L]